.header {
  padding-top: 2.5rem;
  padding-bottom: 2.4rem;
  background: $bgnavbar;
  border-bottom: .1rem solid $border;

  &__navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.menu {

  &__list {
    display: flex;
    list-style: none;
    width: 41rem;
    justify-content: space-between;
  }

  &__item {}

  &__link {
    font-size: 1.2rem;
    line-height: 100%;
    font-weight: 600;
    letter-spacing: 0.109rem;
    text-transform: uppercase;
    color: inherit;

    &:hover {
      color: $primarycolor;
    }
  }
}