.services {
  &__top {
    justify-content: space-between;
    margin-bottom: 8rem;

    @media (max-width: 770px) {
      flex-wrap: wrap;
    }
  }

  &__title {
    flex: 0 0 19.9rem;
    position: relative;

    @media (max-width:770px) {
      flex: 0 0 100%;
      text-align: center;
    }

    &::before {
      content: "";
      position: absolute;
      top: 3.3rem;
      left: 0;
      width: 5rem;
      height: 0.2rem;
      background: $primarycolor;

      @media (max-width: 770px) {
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }
  }

  &__txt {
    flex: 0 0 40.54rem;
    font-size: 1.1rem;
    line-height: 1.9rem;
    margin-left: 13rem;
    letter-spacing: 0.02rem;

    @media (max-width: 770px) {
      margin-top: 3rem;
    }

    @media (max-width: 425px) {
      flex: 0 0 100%;
      margin-left: 0;
      text-align: center;
    }
  }

  &__txt span {
    display: block;
    width: 35.01rem;

    @media (max-width: 425px) {
      text-align: center;
      width: 100%;
    }
  }

  &__btn {
    @media (max-width: 770px) {
      margin-top: 3rem;
    }

    @media (max-width: 425px) {
      margin: 3rem auto 0 auto;
    }

  }

  &__card-box {
    gap: 2.8rem;
    padding-bottom: 11rem;

    @media (max-width: 770px) {
      flex-wrap: wrap;
      // margin: 0 auto;
      // gap: 0;
      justify-content: center;
      // align-items: center;
    }
  }

  &__card {
    flex: 0 0 29.5rem;
    border: .2rem solid $border;
    padding-top: 3.5rem;
    padding-left: 2.3rem;
  }

  &__card-img {
    display: block;
    max-width: 100%;
  }

  &__card-title {
    font-size: 1.6rem;
    line-height: 2.4rem;
    letter-spacing: 0.043rem;
    text-transform: uppercase;
    // width: 26rem;
    margin-top: 2.3rem;
  }

  &__card-txt {
    margin-top: 1.4rem;
  }
}