$black: #000;
$white: #fff;
$primarycolor:#00A4E5;
$secondarycolor:#48555B;
$storycolor: #16ACE8;


@import 'mixin';
// @import 'fonts';
@include font-face("OpenSans-Bold", "OpenSans-Bold", 700);
@include font-face("OpenSans-Regular", "OpenSans-Regular", 400);
@include font-face("BebasNeue-Regular", "BebasNeue-Regular", 400);
@include font-face("OpenSans-ExtraBold", "OpenSans-ExtraBold", 800);
@include font-face("OpenSans-SemiBold", "OpenSans-SemiBold", 600);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  transition: all .2s linear;
}

html {
  font-family: 'OpenSans', sans-serif;
  height: 100%;
  font-size: 62.5%;
  overflow-x: hidden;
  color: $secondarycolor;
  // scroll-padding-top: 5rem;

  &::-webkit-scrollbar {
    width: 1rem;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background: $black;
  }


  @media(max-width: 80em) {
    font-size: 7.2px;
  }

  @media(max-width: 72em) {
    font-size: 6.5px;
  }

  @media(max-width: 64em) {
    font-size: 5.5px;
  }

  @media(max-width: 48em) {
    font-size: 10px;
    -webkit-text-size-adjust: none;
  }

  @media(max-width: 44em) {
    font-size: 9px;
  }

  @media(max-width: 38em) {
    font-size: 8px;
  }

  @media(max-width: 34em) {
    font-size: 7px;
  }

  @media(max-width: 30em) {
    font-size: 6px;
  }

  @media(max-width: 26em) {
    font-size: 4.5px;
  }

  @media(max-width: 21em) {
    font-size: 4.4px;
  }

}

body {
  height: 100%;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.header {
  flex: 1 0 auto;
}

.main {
  flex: 1 0 auto;
}

.footer {
  flex: 0 0 auto;
}

.container {
  max-width: 96.1rem;
  width: 100%;
  margin: 0 auto;
  padding: 0 1rem;
}

.txt {
  font-size: 1.3rem;
  line-height: 2.3rem;
  letter-spacing: .019rem;
}

.txt-sm {
  font-size: 1.1rem;
  line-height: 1.9rem;
  letter-spacing: .02rem;
}

// @import 'reset';
@import 'header';